<nav aria-labelledby="main-menu-label">
  <h2 id="main-menu-label" class="screen-reader-only">Main Menu</h2>
  <button
    id="close-menu"
    class="mobile-only"
    (click)="onCloseOnMobile()"
    aria-label="close menu"
    [attr.aria-hidden]="isMobile ? false : true"
  >
    <img src="/assets/close.svg" alt="">
  </button>
  <ul role="menubar">
    <li role="menuitem"><a href="#first-section">First</a></li>
    <li role="menuitem"><a href="#second-section">Second</a></li>
    <li role="menuitem"><a href="#third-section">Third</a></li>
  </ul>
</nav>
