<app-header></app-header>
<main>
  <section id="first-section">
    <h2>First Section</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, accusamus alias tenetur iste recusandae veritatis sapiente? Earum ab ex repudiandae quae eos? Eum, mollitia animi! Similique voluptatum esse nisi officia?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, accusamus alias tenetur iste recusandae veritatis sapiente? Earum ab ex repudiandae quae eos? Eum, mollitia animi! Similique voluptatum esse nisi officia?</p>
  </section>
  <section id="second-section">
    <h2>Second Section</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, accusamus alias tenetur iste recusandae veritatis sapiente? Earum ab ex repudiandae quae eos? Eum, mollitia animi! Similique voluptatum esse nisi officia?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, accusamus alias tenetur iste recusandae veritatis sapiente? Earum ab ex repudiandae quae eos? Eum, mollitia animi! Similique voluptatum esse nisi officia?</p>
  </section>
  <section id="third-section">
    <h2>Third Section</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, accusamus alias tenetur iste recusandae veritatis sapiente? Earum ab ex repudiandae quae eos? Eum, mollitia animi! Similique voluptatum esse nisi officia?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, accusamus alias tenetur iste recusandae veritatis sapiente? Earum ab ex repudiandae quae eos? Eum, mollitia animi! Similique voluptatum esse nisi officia?</p>
  </section>
</main>
